.header {
    padding:20px;
}

.tableCell {
    height: 50px;
    width: 50px;
    background: lightcyan;
    border: 1px solid black;
    cursor: pointer;
}
.tableRow:hover > .tableCell {
    background: cyan;
}

.table {
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}