.loader-modal-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.loader-modal-cover {
    position: absolute;
    left: 50%;
    top: 50%;
}

.zero-padding  {
    padding:0;
}